<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFO Sightings Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>UFO Sightings Map</h1>
    <select id="stateSelect">
        <option value="">Select a state</option>
        <!-- Populate options dynamically using JavaScript -->
    </select>
    <div id="sightings"></div>

    <script src="./static/js/script.js"></script>
</body>
</html>
